<!-- Back To Top Button-->
  <a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <!-- Main theme script-->
  <script src="/javascripts/theme.min.js"></script>
</body>
</html>