<%- include('../user/layouts/userHeader.ejs')%>



<!-- Page Title-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap"><a href="/account">Account</a>
            </li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Change Password</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 text-light mb-0">Change Password</h1>
      </div>
    </div>
  </div>
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
        <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
          <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
            <div class="d-md-flex align-items-center">
              <div class="ps-md-3">
                <h3 class="fs-base mb-0"><%= userData.name %></h3><span class="text-accent fs-sm"><%= userData.email %></span>
              </div>
            </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu" data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account Menu</a>
          </div>
          <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted text-center">DASHBOARD</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/order"><i class="ci-bag opacity-60 me-2"></i>Orders<span class="fs-sm text-muted ms-auto"></span></a></li>
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/wishlist"><i class="ci-heart opacity-60 me-2"></i>Wishlist<span class="fs-sm text-muted ms-auto"></span></a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/discount"><i class="ci-discount opacity-60 me-2"></i>Coupons<span class="fs-sm text-muted ms-auto"></span></a></li>
            </ul>
            <div class="bg-secondary px-4 py-3">
              <h3 class="fs-sm mb-0 text-muted text-center">ACCOUNT</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/account"><i class="ci-user opacity-60 me-2"></i>Profile Info</a></li>
              <li class="border-bottom mb-0 bg-faded-accent"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="/change-password"><i class="ci-loading opacity-60 me-2"></i>Change Password</a></li>
              <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/address"><i class="ci-location opacity-60 me-2"></i>Addresses</a></li>
              <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="/userlogout"><i class="ci-sign-out opacity-60 me-2"></i>SIGN OUT</a></li>
            </ul>
          </div>
        </div>
      </aside>

 <!-- Content  -->
 <section class="col-lg-8">
    <!-- Toolbar-->
    <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
      <h6 class="fs-base text-light mb-0">Update Your Password Below :</h6>
        <a class="btn btn-danger btn-sm" href="/userlogout"><i class="ci-sign-out me-2"></i>SIGN OUT</a>
    </div>
    <!-- Profile form-->
<div class="card border-0 shadow-lg">
    <div class="card-body">
      <h3 class="h3 mb-3 text-center">Change Password</h3>


      <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-8">
          <div class="card border-0 rounded-5">
            <div class="card-body">
              <form class="needs-validation mt-2 mb-4" novalidate id="updateForm">
                <label class="form-label" for="account-pass">Current Password</label>
                <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                  <div class="password-toggle w-100">
                    <input class="form-control" name="password" type="password" placeholder="Password" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                </div>
                <label class="form-label" for="account-new-pass">New Password</label>
                <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                  <div class="password-toggle w-100">
                    <input class="form-control" name="newPassword" type="password" placeholder="Password" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                </div>
                <hr class="mt-4">
                <div class="text-end pt-4 d-flex justify-content-center" style="flex-direction: column;">
                  <button class="btn btn-primary " type="submit"><i class="ci-check-circle me-2 ms-n21"></i>UPDATE PASSWORD</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
</div>
</main>

<div class="modal fade" id="updatedModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content bg-faded-success border-success">
      <div class="modal-header bg-faded-success border-success">
        <h5 class="modal-title text-white" id="cartModalLabel">Success !</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center text-success">
        <i class="ci-check-circle d-block text-success text-shadow mb-3" style="font-size: 3rem;"></i>
        <h5 class="text-success text-shadow">Password Updated</h5>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notSecuredModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content bg-faded-warning border-warning">
      <div class="modal-header bg-faded-warning border-warning">
        <h5 class="modal-title text-white" id="cartModalLabel">Alert !</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center text-warning">
        <i class="ci-security-announcement text-warning text-shadow mb-3" style="font-size: 3rem;"></i>
        <h5 class="text-warning text-shadow">Require 8 Characters</h5>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notMatchModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content bg-faded-danger border-danger">
      <div class="modal-header bg-faded-danger border-danger">
        <h5 class="modal-title text-white" id="cartModalLabel">Warning !</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center text-danger">
        <i class="ci-close-circle text-danger text-shadow mb-3" style="font-size: 3rem;"></i>
        <h5 class="text-danger text-shadow">Incorrect Password</h5>
      </div>
    </div>
  </div>
</div>


<script>

$("#updateForm").submit((el)=>{
  el.preventDefault()
  $.ajax({
        url:"/update-password",
        method:'post',
        data:$('#updateForm').serialize(),
        success:(response)=>{

          if(response.updated){

              $('#updatedModal').modal('show');

          }

          if(response.notSecured){

              $('#notSecuredModal').modal('show');

          }

          if(response.notMatch){

              $('#notMatchModal').modal('show');

          }

        }
    })
  }
)

</script>


<%- include('../user/layouts/userFooter.ejs')%>