<!DOCTYPE html>
<html lang="en">
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>Afssian Ecommerce</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Shopping Site E-commerce Website">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="Afsal">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="icon"  href="https://res.cloudinary.com/afsify/image/upload/v1733133377/codisify/codisify.png">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="/vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="/vendor/tiny-slider/dist/tiny-slider.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="/stylesheets/theme.min.css">
  <!-- Google Tag Manager-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
  </script>

</head>

<!-- Body-->

<body class="handheld-toolbar-enabled">
  <!-- Google Tag Manager (noscript)-->
  <noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0"
      style="display: none; visibility: hidden;"></iframe>
  </noscript>
  <main class="page-wrapper bg-image" style="display: flex;align-items: center; background : url(https://res.cloudinary.com/afsify/image/upload/v1733146608/other/e0gixhpewcxbiferbgre.webp); background-repeat: no-repeat; background-size: cover; background-position: center;">

<div class="container py-4 py-lg-5 my-4">
    <div class="row" style="display: flex; justify-content: center;">
      <div class="col-md-4">
        <div class="card border-0 shadow rounded-5 bg-faded-info">
          <div class="card-body">
            <h2 class="h4 mb-2 d-flex text-light justify-content-center">VERIFICATION CODE</h2>
            <form class="needs-validation mt-4" novalidate action="/verifyotp" method="post">
              <div class="input-group mb-3"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                <input class="form-control rounded-start" name="otp" type="number" placeholder="Enter Your OTP" required>
              </div>
              <% if(status=="true"){ %>
                    <p id="ban" class="text-danger text-center">Incorrect OTP</p>
              <% } %>
              <hr class="mt-4">
              <div class="text-end pt-4 d-flex justify-content-center" style="flex-direction: column;">
                <button class="btn btn-primary" type="submit"><i class="ci-sign-in me-2 ms-n21"></i>SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Vendor scrits: js libraries and plugins-->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/drift-zoom/dist/Drift.min.js"></script>
<script src="/vendor/lightgallery.js/dist/js/lightgallery.min.html"></script>
<script src="/vendor/lg-video.js/dist/lg-video.min.html"></script>
<!-- Main theme script-->
<script src="/javascripts/theme.min.js"></script>
</body>
</html>