<!DOCTYPE html>
<html lang="en">
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>AFSSIAN</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Shopping Site E-commerce Website">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="Createx Studio">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image"  href="/img/logo.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="/vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="/vendor/tiny-slider/dist/tiny-slider.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="/stylesheets/theme.min.css">
  <!-- Google Tag Manager-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
  </script>

</head>

<!-- Body-->

<body class="handheld-toolbar-enabled">
  <!-- Google Tag Manager (noscript)-->
  <noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0"
      style="display: none; visibility: hidden;"></iframe>
  </noscript>
  <main class="page-wrapper bg-image" style="display: flex;align-items: center; background : url(https://lh4.googleusercontent.com/h3kU7c36ns-FluNWqS6Lh7aQ73QCmKA3wtgSUChFZGqtHVwXckulqwA6KL9DNkXdpSDMTqjKv97uvBdSRF0i-XjbH3CERleuM_u31__EKSVzUi9yy4J_Bzv8fTcCKtBrHn2jwG2T640OTW5_fElLYDfKIA=s2048); background-repeat: no-repeat; background-size: cover; background-position: center;" >
<!-- <div class="container-fluid bg-danger" > -->
<div class="container py-4 py-lg-5 my-4">
    <div class="row" style="display: flex; justify-content: center;">
      <div class="col-md-5">
        <div class="card border-0 shadow rounded-5 bg-faded-info" >
          <div class="card-body">
            <h2 class="h4 mb-1 d-flex text-light justify-content-center">SIGN IN</h2>
            <form class="needs-validation mt-4" novalidate action="/login" method="post">
              <div class="input-group mb-3"><i class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                <input class="form-control rounded-start" name="email" type="email" placeholder="Email" required>
              </div>
              <div class="input-group mb-3"><i class="ci-locked position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
                <div class="password-toggle w-100">
                  <input class="form-control" name="password" type="password" placeholder="Password" required>
                  <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
              <%  if(userSts=="banned"){ %>
                <div id="message" class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>OOPS!</strong> ADMIN BANNED YOUR ACCOUNT
                </div>
                <% } %>
                <%  if(userName=="incorrect"){ %>
                  <div id="message" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>OOPS!</strong> Email and Password Not Match
                  </div>
              <% } %>
              <hr class="mt-4">
              <div class="text-end pt-4 d-flex justify-content-center" style="flex-direction: column;">
                <button class="btn btn-primary " type="submit"><i class="ci-sign-in me-2 ms-n21"></i>SIGN IN</button>
                <p class="small fw-bold mt-4 pt-1 mb-0 d-flex justify-content-center">Don't have an account? &nbsp&nbsp<a href="/signup" class="ci-add-user link-success"> SIGN UP</a></p>
                <p class="small fw-bold mt-2 pt-1 mb-0 d-flex justify-content-center">Are you an admin? &nbsp&nbsp<a href="/admin-login" class="ci-eye link-primary"> LOGIN</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
</main>

<!-- Vendor scrits: js libraries and plugins-->
<script>
  setTimeout(() => {
    document.getElementById("message").remove();
  }, 3000);
</script>
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/simplebar/dist/simplebar.min.js"></script>
<script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="/vendor/drift-zoom/dist/Drift.min.js"></script>
<script src="/vendor/lightgallery.js/dist/js/lightgallery.min.html"></script>
<script src="/vendor/lg-video.js/dist/lg-video.min.html"></script>
<!-- Main theme script-->
<script src="/javascripts/theme.min.js"></script>
</body>
</html>